[2018-08-15 10:11] denisborovikov opened #1 "Make tooltip more customizable"
Thank you for the library!

My suggestion is to remove the default tooltip layout and classes and provide the tooltip customization through [render prop](https://cdb.reacttraining.com/use-a-render-prop-50de598f11ce) instead of classes.

API may look like:

[code]

It provides the much more flexible way for tooltip customization.

Thank you!

[2018-08-15 18:00] mohsinulhaq commented on #1
Hi @denisborovikov, thanks for the suggestion! I will definitely look into implementing this pattern. Meanwhile, feel free to submit a PR with the changes if you like.

[2018-08-16 07:32] denisborovikov commented on #1
Here we go #2

[2018-08-17 08:40] #1 closed

[2018-09-17 15:18] bogdansoare opened #6 "Problem with compilation"
Using create-react-app I get this error

[code]

https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

[2018-09-17 15:44] mohsinulhaq commented on #6
ok, so we were initially targeting only modern browsers that support ES6. But we can change that to suppprt ES5 aa well.

[2018-09-17 15:55] bogdansoare commented on #6
I understand that you want to support only the latest browsers, but that would mean leaving out all the users of create-react-app and maybe other similar tools

[2018-09-17 19:58] mohsinulhaq commented on #6
https://github.com/mohsinulhaq/react-popper-tooltip/releases/tag/v2.2.1
Released a new version with support for many more browsers. Please try it out. CRA build is fine now.
Let me know if there are any issues, otherwise, we can close this.

[2018-09-17 21:05] bogdansoare commented on #6
cool, thank you for the fast response 🙏, CRA build is good now

[2018-09-17 21:05] #6 closed

[2018-09-18 12:55] brookback opened #7 "Ability to close tooltips on Escape key"
Hey! Thanks for a great package 💞 It vastly simplified me working with Popper and creating dropdowns!

One thing that's kinda common for popovers/dropdowns is to close them on <kbd>escape</kbd> key. Could this fit into this package, you think?

The requirements could be something like:

- Make it close on `keydown` event, with key <kbd>escape</kbd> as default.
- Provide a way to opt out of the def

[2018-09-18 14:43] denisborovikov commented on #7
Hi, thank you for the idea and the code!

As for me, I'd like to keep the library simple and flexible and avoid adding custom cases.

You can implement the same behavior with a current API. Here's an example (I used the part of your code there) https://codesandbox.io/s/v04l1ky2rl

I took a Tooltip wrapper from our README example and added only innerRef prop support. TooltipClick implements the res

[2018-09-18 15:46] brookback commented on #7
@denisborovikov Thanks for the reply and quick code writeup ✨ That seems to work out well.

Btw, the sample code doesn't seem to function – need to do this in `Tooltip.js`:

[code]

Just so others know!

***

I'd be more descriptive of the use of `ref` in the README: I completely missed the paragraph

Perhaps a quick use case? Something that would be really nice would be to have a `recipes` direct

[2018-09-18 16:16] denisborovikov commented on #7
Thanks, I refactored the code after I pushed the comment but didn't reload the page. Fixed now.

You're right about the `ref` docs. @mohsinulhaq  wasn't clear enough. I didn't understand this prop at all before I implemented the example above.

We can start the recipes from this case.

[2018-09-19 12:47] denisborovikov commented on #7
We're going to remove a ref part from README. To implement close on Esc feature external state with `tooltipShown` and `onVisibilityChange` should be used.

I will provide an example after #11 merged.

[2018-09-21 21:50] mohsinulhaq commented on #7
recipe added
check out https://mohsinulhaq.github.io/react-popper-tooltip
we can close this ticket now

[2018-09-22 03:39] #7 closed

[2018-10-07 09:08] denchen opened #16 "Div not scrolling when cursor over popper"
First off, fantastic library. I had initially tried to make my own tooltip with Popper, using `react-popper` as a base, then I came across yours, which was way more robust than my implementation (especially with the trigger on mouse click), so I decided to give yours a try.

I'm having this issue where I'm not sure if it's something to do with your library, or an underlying issue with PopperJS its

[2018-10-07 11:07] denisborovikov commented on #16
Thanks!

`react-popper-tooltip` inserts the tooltip content before the [closing](https://github.com/mohsinulhaq/react-popper-tooltip/blob/23245d7671d7346615a03fec455c56b878fa07f9/src/TooltipTrigger.js#L221) `body` tag. This powerful feature allows you to show tooltip even if the tooltip trigger positioned inside the div with `overflow: hidden` and tooltip content won't be cut off.

Here's a simpli

[2018-10-07 16:03] mohsinulhaq commented on #16
I think not propagating scroll inside portals is desirable because of use cases like this: https://codesandbox.io/s/6zwmz219n3

[2018-10-07 17:01] mohsinulhaq commented on #16
@denchen I have thought of a solution to this. Will make a PR this week. It will require quite some changes.

[2018-10-07 21:31] denchen commented on #16
Ah, I see why the scrolling behavior is what it is. And, I agree, I can definitely see a use case like your example. Looking forward to your solution that can handle either scenario. Thanks!

[2018-10-11 19:52] mohsinulhaq commented on #16
https://o93q4l92ny.codesandbox.io
v2.6.0 exposes a prop called `usePortal`
Setting it to false will disable the usage of React.createPortal to work for your use case
Also, you would need to set the scrolling container's position to relative.
Hope this helps.

[2018-10-13 16:56] mohsinulhaq commented on #16
@denchen can you confirm if this works for you or not? If yes, then we can close this issue.

[2018-10-13 19:37] denchen commented on #16
Hey, yeah, after a slight hiccup, I was able to get it to work. At first I thought it wasn't working, but then I realized I had to add a `position: relative` to the scrolling box, which is to be expected since the popper has a `position: absolute` on it.

Overall, I think the `usePortal` flag suits my purposes!

[2018-10-13 20:17] mohsinulhaq commented on #16
okay then! closing...

[2018-10-13 20:17] #16 closed

[2018-12-08 12:07] greenkeeper[bot] opened #19 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2018-12-08 12:08] greenkeeper[bot] opened #20 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2018-12-08 15:42] #20 closed

[2018-12-08 15:43] #19 closed

[2018-12-09 10:18] Tsury opened #21 "Is it possible to keep the tooltip in the DOM in order to reuse it?"
I have a pretty massive component under a tooltip, and I want it to stay in the DOM to prevent unneeded re-renders. How is this achievable if at all?

[2018-12-09 11:13] mohsinulhaq commented on #21
With current architecture, the tooltip component unmounts on hide and remounts on show, so it's not possible to just `display: hidden` the tooltip, but I can add a prop to toggle this behaviour.

[2018-12-09 15:10] mohsinulhaq commented on #21
This feature seems to be requiring quite some changes to code, feel free to raise a PR in case I am late to take this feature up.

[2018-12-14 14:40] greenkeeper[bot] opened #23 "An in-range update of docz is breaking the build 🚨"
## The devDependency [docz]() was updated from `0.12.16` to `0.12.17`.

🚨 [View failing branch](https://github.com/mohsinulhaq/react-popper-tooltip/compare/master...mohsinulhaq:greenkeeper%2Fdocz-0.12.17).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

docz is a devDependency of this project. It **might not break your pro

[2018-12-15 04:17] #23 closed

[2018-12-26 19:55] greenkeeper[bot] opened #28 "An in-range update of docz-theme-default is breaking the build 🚨"
## The devDependency [docz-theme-default]() was updated from `0.13.5` to `0.13.6`.

🚨 [View failing branch](https://github.com/mohsinulhaq/react-popper-tooltip/compare/master...mohsinulhaq:greenkeeper%2Fdocz-theme-default-0.13.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

docz-theme-default is a devDependency of this

[2018-12-26 20:48] #28 closed

[2018-12-28 09:39] greenkeeper[bot] opened #29 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.11.1` to `7.12.0`.

🚨 [View failing branch](https://github.com/mohsinulhaq/react-popper-tooltip/compare/master...mohsinulhaq:greenkeeper%2Feslint-plugin-react-7.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2019-01-07 11:35] olekbruks opened #34 "Detecting clicks outside of a tooltip - touch devices (iOS only?)"
This issue is related with detecting clicks outside of a opened tooltip which has its "trigger" property set to "click".
Currently this feature doesn't work on Safari Mobile/web view in iOS app.
In my opinion the code should detects events such as "touchstart" (or maybe "touchend") and "auxclick".
I'm not sure if attaching additional listener should be done in this code
[code]
or added as a new fu

[2019-01-07 18:11] mohsinulhaq commented on #34
Before deploying I did try it on Chrome on Android. So it must be iOS only.
https://81loppjjpl.codesandbox.io
Above is a sandbox with `touchstart` outside click detection enabled. I don't own an iPhone, so could you please check if this works there?
Thanks.

[2019-01-08 09:12] olekbruks commented on #34
This issue is iOS only. I've tested the sandbox and it works in Safari on iOS 12 and in Chrome on Android however after some testing I think that listening on `touchend` will work better because of scrolling/ panning.
I'm unable to test it on iOS 9 because the sandbox renders as a blank page, but this is probably unrelevant.

[2019-01-08 09:52] mohsinulhaq commented on #34
I am not sure what do you mean by scrolling/panning. Could you please elaborate?

[2019-01-08 10:36] mohsinulhaq commented on #34
okay got it, sounds reasonable. Will replace touchstart with touchend when I get back, and make a stable release. By the way the version with `touchstart` is available as `react-popper-tooltip@2.7.3-alpha.0`

[2019-01-09 05:43] mohsinulhaq commented on #34
Looks like there is a bug now due to this change because of which touching trigger doesnt toggle tooltip, but rerenders it. Will need to fix this before stable release.

[2019-01-11 07:40] mohsinulhaq commented on #34
https://1zpljm21y4.codesandbox.io
@olekbruks can you try this one both on ios and pc?

[2019-01-11 10:43] olekbruks commented on #34
I've tested the solution from the latest _codesandbox_ and it works on Safari on iOS 12 and on Chrome on Android and Windows.

[2019-01-11 10:47] mohsinulhaq commented on #34
[code]

[2019-01-11 18:14] mohsinulhaq commented on #34
The relevant changes are in v2.7.4. You can try it out and close this ticket.
Thanks.

[2019-01-15 17:47] elie222 opened #37 "Code question: why do you use `?` and `!`?"
Asking purely out of interest. while reading your code I was wondering if there was a reason for adding a `?` to your private methods?

[code]

This also causes you to do this later on which would not be needed if you didn't use `?`.

[code]

[2019-01-15 18:58] mohsinulhaq commented on #37
https://github.com/mohsinulhaq/react-popper-tooltip/blob/master/src/Tooltip.tsx#L56

I remove the handler from tooltip instance here, this is useful when a nested tooltip closes because parent trigger is out of boundary.

[2019-01-15 18:59] mohsinulhaq commented on #34
Assuming the fix worked, I am closing this issue. Feel free to open again if needed.

[2019-01-15 18:59] #34 closed

[2019-01-15 22:50] elie222 commented on #37
Thanks for the explanation!

On Tue, 15 Jan 2019 at 20:58, Mohsin Ul Haq <notifications@github.com>
wrote:

[2019-01-15 22:50] #37 closed

[2019-01-16 07:52] greenkeeper[bot] opened #38 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.7.18` to `16.7.19`.

🚨 [View failing branch](https://github.com/mohsinulhaq/react-popper-tooltip/compare/master...mohsinulhaq:greenkeeper%2F%40types%2Freact-16.7.19).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-01-16 19:13] #38 closed

[2019-01-18 11:00] olekbruks commented on #34
Indeed, it works. Thanks.

[2019-01-22 08:58] olekbruks opened #40 "Detecting clicks outside of a tooltip – `handleOutsideClick` fires after unmounting (IE only)"
I’ve found a very specific scenario in which `handleOutsideClick` function is fired when the `Tooltip` component is unmounted.

In my web app (using `react`, `redux` and `react-redux-router`) I have a button which acts as a tooltip trigger (trigger mode is set to “click”) and a button which executes `history.push`. Due to the routing, navigating through the app using “push” won’t reenter the app b

[2019-01-22 09:09] denisborovikov opened #41 "Tooltip hide on disabled input doesn't work"
If the trigger element is a disabled button, the tooltip isn't hiding on mouse leave.

Demo: https://codesandbox.io/s/61yv95m533

![hover](https://user-images.githubusercontent.com/831065/51524426-ff4a4400-1e68-11e9-858f-843d51e80736.gif)

[2019-01-22 09:49] mohsinulhaq commented on #41
This is a known issue with React on Chrome and Safari, where `mouseenter` is triggered on disabled elements but not `mouseleave`. This however, should work fine in Firefox.

Ref: https://github.com/facebook/react/issues/4251

[2019-01-25 14:36] c12mbg opened #42 "Blurry text"
Edited: Sorry, gave faulty information about the blurry text last time. Updated now, will provide codesandbox example later if i got some extra time.

The text within the tooltip is blurry in chrome when x and y is not evenly divideable by 4 in translate3d.
Examples:

Clear text example =>  transform: translate3d(192px, 344px, 0px).
Here 192/4 = 48. and 344/4 = 86. So both x and y are being intege

[2019-01-25 16:15] mohsinulhaq commented on #42
Can you atleast add some code snippet of your complete usage? A codesandbox would be even better.
Thanks.

[2019-01-26 13:39] mohsinulhaq commented on #40
I am not sure about what exactly is happening here. Can you attach a gif of the actions you take?
If you are unable to do that, I want to ask if the button that does the routing is inside a tooltip. And does the whole page unmount with route change or is it some fragment routing setup.

[2019-01-30 10:11] olekbruks commented on #40
I will try to replicate this behavior in an online editor/sandbox.

In meantime: the button which does the routing is outside a tooltip, in a component that will be unmounting by a route change. The route dependent component is just a "body" of web application surrounded by a top bar and a navigation box.

- App
   - Page component 1
      - Button with tooltip
      - Button which changes routing

[2019-01-30 11:52] mohsinulhaq commented on #42
Closing as there is no reply from OP. Feel free to reopen.

[2019-01-30 11:53] mohsinulhaq commented on #42
ohh...i see that you edited the issue itself. You could have just replied. Reopening now.

[2019-02-01 06:58] mohsinulhaq commented on #42
i don't see blur either in mac or windows.
Which OS is this and how do u set the translate value on the tooltip?

[2019-02-04 15:13] olekbruks commented on #40
@mohsinulhaq Any updates on this? I think that the solution (to check whether the component is mounted before calling `findDOMNode`) is good enough.

BTW I'm unable to build the project on Windows - after build the file `dist\cjs\react-popper-tooltip.js` contains only a few lines.

[2019-02-04 16:54] mohsinulhaq commented on #40
I see that the issue can also be reproduced in Edge. Will check that this weekend.
And about the build. Can you paste the build log here?

[2019-02-06 13:43] greenkeeper[bot] opened #45 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.8.1` to `16.8.2`.

🚨 [View failing branch](https://github.com/mohsinulhaq/react-popper-tooltip/compare/master...mohsinulhaq:greenkeeper%2F%40types%2Freact-16.8.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@ty

[2019-02-08 10:06] kitze opened #46 "When followCursor is true, the tooltip isn't respecting boundaries"
I'm trying to use this library to build a context menu that's gonna show up at the exact mouse position on right click. So I'm using `trigger="right-click" followCursor={true}` and it's fine, except the popper doesn't move to the other side when it doesn't have enough space or if it's out of the scroll area.

Any ideas?

[2019-02-08 10:17] mohsinulhaq commented on #46
I am aware of this. This is because react-popper, the underlying library doesn't support followCursor, as such with that prop turned on, I myself take care of rendering the tooltip instead of react-popper (which is only capable to rendering wrt the trigger boundaries). That custom logic just renders the component at the click area, no calculations done wrt viewport/scroll-container. Pull Requests

[2019-02-11 22:30] greenkeeper[bot] opened #48 "An in-range update of react-testing-library is breaking the build 🚨"
## The devDependency [react-testing-library](https://github.com/kentcdodds/react-testing-library) was updated from `5.6.0` to `5.6.1`.

🚨 [View failing branch](https://github.com/mohsinulhaq/react-popper-tooltip/compare/master...mohsinulhaq:greenkeeper%2Freact-testing-library-5.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build fa

[2019-02-14 02:41] greenkeeper[bot] opened #52 "An in-range update of @types/react-dom is breaking the build 🚨"
## The devDependency [@types/react-dom](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.8.0` to `16.8.1`.

🚨 [View failing branch](https://github.com/mohsinulhaq/react-popper-tooltip/compare/master...mohsinulhaq:greenkeeper%2F%40types%2Freact-dom-16.8.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2019-02-14 03:54] #52 closed

[2019-02-16 17:50] greenkeeper[bot] opened #54 "An in-range update of @types/react-dom is breaking the build 🚨"
## The devDependency [@types/react-dom](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.8.1` to `16.8.2`.

🚨 [View failing branch](https://github.com/mohsinulhaq/react-popper-tooltip/compare/master...mohsinulhaq:greenkeeper%2F%40types%2Freact-dom-16.8.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2019-02-17 22:43] olekbruks commented on #40
Indeed, it's broken in the Edge too.

After some changes in `package.json` and `rollup.config.js` I managed to fix some issues and now rollup doesn't signal that something went wrong. However the output file - `dist/cjs/react-popper-tooltip.js` is almost empty:

[code]

Terminal output:

[code]

[2019-02-21 16:13] mauricesvay opened #56 "Click events are magically turned into touch events"
When the browser supports touch events, the `onClick` event is automatically turned into a `onTouchEnd` event:
https://github.com/mohsinulhaq/react-popper-tooltip/blob/master/src/TooltipTrigger.tsx#L208-L215

This is an issue for some laptops with a touch screen that do not trigger `onTouchEnd` when using a mouse.

[2019-02-21 16:43] mohsinulhaq commented on #56
Interesting. I think I would need to add both event listeners irrespective of device capability and stop propagation for each to prevent multiple firings.

[2019-02-21 16:53] mauricesvay commented on #56
For the moment, I'm patching the behavior on my end by replacing the `onTouchEnd` event by a `onClick` event after calling `getTriggerProps`.
But I'm still interested in a proper solution. Let me know if I can help.

Thanks for sharing this library!

[2019-02-21 17:07] mohsinulhaq commented on #56
are you in possession of that hybrid device?

[2019-02-21 17:23] mauricesvay commented on #56
@mohsinulhaq unfortunately no, it's been reported by a user.

[2019-02-22 16:32] mohsinulhaq commented on #56
Hi, I have released v2.8.1-alpha.0 which has a potential fix.
Please try it out. If it works fine, I will release a stable version.
Thanks.

[2019-02-23 10:05] mohsinulhaq commented on #46
Hi @kitze, I have released react-popper-tooltip@2.8.1-alpha.1 with a potential fix respecting viewport boundaries with `followCursor`. Please give it a spin and let me know if anything's missing. 🙂

[2019-02-23 10:06] mohsinulhaq commented on #40
Hi, I have released v2.8.1-alpha.1 with a check for mount state before findDOMNode on outside click. Please give it a spin and let me know if anything is missing.

[2019-02-25 09:57] c12mbg commented on #42
I'm on windows, but the problem only arises in Chrome webbrowser, and the text is sharp in both edge, and firefox. I'm setting the value by changing it in the DOM, in the element containing class="tooltip-container".

[2019-02-25 10:35] mohsinulhaq commented on #42
can u share a minimal codesandbox with your particular usage. That would be most helpful.

[2019-02-25 10:57] mohsinulhaq commented on #42
I tried manually setting translate3d(6px, 30px, 0px) on a tooltip in windows codesandbox, and I don't see any blurry text.

[2019-02-25 13:39] olekbruks commented on #40
The issue is resolved in the alpha version.

[2019-02-25 14:10] mohsinulhaq commented on #40
Thanks!

[2019-02-25 14:18] mohsinulhaq commented on #46
If you have moved to some other library, please let me know so that we can close this issue. Thanks.

[2019-02-26 16:54] mohsinulhaq commented on #56
Hi, any update?

[2019-02-26 17:25] mauricesvay commented on #56
I’ll try to test again with the customer this week. Thanks for helping on this issue 🙏

Envoyé de mon iPhone

[2019-03-02 18:10] mohsinulhaq commented on #46
Closing due to no response from OP. The issue is fixed and will be available in v2.8.1

[2019-03-02 18:10] #46 closed

[2019-03-04 09:06] mauricesvay commented on #56
Hi, sorry for the late reply, but I can confirm that 2.8.1-alpha.1 fixes the issue. Looking forward to the next release. Thanks a lot for your help!

[2019-03-04 16:44] mohsinulhaq commented on #40
Fix now available in [v2.8.1](https://github.com/mohsinulhaq/react-popper-tooltip/releases/tag/v2.8.1)

[2019-03-04 16:44] #40 closed

[2019-03-04 16:44] mohsinulhaq commented on #56
Fix now available in [v2.8.1](https://github.com/mohsinulhaq/react-popper-tooltip/releases/tag/v2.8.1)

[2019-03-04 16:44] #56 closed

[2019-03-04 16:58] mohsinulhaq commented on #42
Hi, any codesandbox yet?

[2019-03-05 14:01] olekbruks opened #58 "Problems with `touchend` event handling"
Unfortunately, a fix that I suggested for the issue #34 together with a fix for the #56 introduces some serious issues with handling `click` events triggered from control inside a tooltip.

On a mobile device that supports both `click` and `touchend` events `touchend` "outside click" handler intercepts all events, eg. `click` on a button inside the tooltip.

https://codesandbox.io/s/6xwrm2zxrr

[2019-03-05 16:12] mohsinulhaq commented on #58
So what's happening is that clicking on "Clickable `div`" closes the tooltip on iOS?

[2019-03-05 20:15] olekbruks commented on #58
The problem is that nothing happens when you click on "Clickable div" - the `touchend` event handler will prevent any other event handlers from being fired (`event.stopPropagation()`), even the `click` event handler attached to the "Clickable div".

I mean every smartphone/tablet. When you attach both `touchend` and `click` to a `div` both will be called. The only exception is `document`, `div` or

[2019-03-07 20:14] mohsinulhaq commented on #58
I have published `v2.8.2-alpha.0` which uses [Pointer Events](https://developer.mozilla.org/en-US/docs/Web/API/Pointer_events)  instead of click and touchend events.
Please give it a spin.

[2019-03-08 09:42] mohsinulhaq commented on #58
https://github.com/facebook/react/issues/12901
just came to know that safari doesn't support pointer events
tough luck

[2019-03-26 01:45] robertkraig opened #59 "Focus / Blur Events"
Right now the plugin supports `click`, `right-click`, `hover` events.

I don't see any specific callback/methods to enable / turn-on / turn off the tooltip from outside, or the ability to define a `trigger="focus"` which should support both click+focus.

If you want this to be accessible, having the ability to tab through and it shows automatically is fantastic, and especially with enter/escape fu

[2019-03-26 05:27] denisborovikov commented on #59
Hi, just use tooltip as a controlled component.

Here's a rough example of how you can implement required behavior https://codesandbox.io/s/mm3klvjjjx

Use tab to switch the focus between buttons. When you focus on the middle button, tooltip shows. When the button lost the focus, it hides.

[2019-03-26 18:58] mohsinulhaq commented on #42
Closing because of no reproduction example from OP. Please feel free to re-open.

[2019-03-26 18:58] #42 closed

[2019-03-27 11:22] mohsinulhaq commented on #59
@robertkraig does the solution work for you?

[2019-03-27 11:23] mohsinulhaq commented on #59
@robertkraig I hope the solution worked out for your use case :)

[2019-03-28 00:26] robertkraig commented on #59
@mohsinulhaq absolutely. I had to 1st figure out though how the whole useState stuff worked so I understood your example. I think it's still a little too pre-mature for production-level usage of useState. I know it's been out for a minute, but most people don't have the right version of react yet. Only the bleeding edge people use it atm.

[2019-03-28 01:00] denisborovikov commented on #59
@robertkraig I like hooks and use them in my everyday work. That's the reason why I used `useState`. Just because it was easier for me to prepare a quick proof of concept. You can use any state management as you want - setState, recompose's useStateHandler, react-powerplug's container. It's totally up to you.

[2019-03-28 01:05] denisborovikov commented on #59
@robertkraig Here's quick rewrite with react class https://codesandbox.io/s/jj3rm0nnmw

[2019-03-28 10:08] olekbruks commented on #58
Hmm, I do not know how to fix this issue yet. I will be grateful if you release a version with all the recent fixes but those related to touch events (#34).

Later I investigate if using `cursor: pointer` is good enough.

[2019-03-28 10:48] mohsinulhaq commented on #58
For you 2.8.0 was fine. You can pin to that version until a proper fix is in place.

[2019-03-28 11:03] olekbruks commented on #58
Thanks for quick reply.

Unfortunately my customers are using IE, so I need this commit: https://github.com/mohsinulhaq/react-popper-tooltip/commit/0a7c9ab94b9bc5e2ac3b5bb866d6a5d9b2afc6fc

I could make a fork of this repo, but I do not know how to build it.

[2019-03-28 12:54] mohsinulhaq commented on #58
Oh ok then. I will release an alpha version for you with the change you need. No issues.

[2019-03-28 16:47] mohsinulhaq commented on #58
Published as 2.8.2-alpha.1

[2019-03-31 14:26] mohsinulhaq commented on #58
please confirm if the version suffices, so that we can close this issue.

[2019-04-01 07:24] mohsinulhaq commented on #59
@robertkraig please confirm if the solution sufficed so that we can close this issue

[2019-04-01 08:14] olekbruks commented on #58
Thanks for the alpha version release, but changes related to handling touch events (0e25264ab771b7cca7b86dcff839de57c6181672) are still in the code of this release, so popovers with `click` trigger don't work on hybrid devices such as a notebook with touch screen.

[2019-04-01 08:21] mohsinulhaq commented on #58
As you might have noticed, I don't have a solution yet that can suffice both yours as well as hybrid device use case. To support hybrid device, I definitely need to use stopPropagation and preventDefault to stop click handler and touch handler calling each other. If you have one, please feel free to raise a PR.

[2019-04-03 05:39] robertkraig commented on #59
@mohsinulhaq that was exactly what I needed to see. Wish the docs where as clear as this example was.

[2019-04-03 05:39] #59 closed

[2019-04-11 15:42] elias-fadeyev opened #60 "Links inside tooltip"
### Reproduction demo

https://codesandbox.io/s/1q9yy1342j

### Steps to reproduce the problem

1. Click on the trigger
2. Click on the link

### What is the expected behavior?

I think `click trigger` should allow events inside the tooltip

### What went wrong?

The link doesn't follow the URL.
`Click on the link` triggers `_this.handleOutsideClick()` and then it calls `event.preventDefault()`.

[2019-04-11 16:20] mohsinulhaq commented on #60
Pleas try out v2.8.2 which has a potential fix.

[2019-04-11 16:24] mohsinulhaq commented on #58
Hey bro, could you please help me out and tell me if v2.8.2 solves your use case. I saw that removing `preventDefault` from *only* the outside click handler makes your example as well as an example from another issue work. It would be great if you can confirm from your side.

[2019-04-11 19:15] elias-fadeyev commented on #60
Now it works, thank you!
As a related issue, is it possible to change `click` listener to `mousedown` for `outsideClickHandler`? We use this tooltip inside a drag'n'drop container and, if we move the container, `outsideClickHandler` doesn't trigger and, as a result, the tooltip stays shown outside of the container.

[2019-04-11 20:47] mohsinulhaq commented on #60
Does it close when you drop the container?

[2019-04-12 07:48] elias-fadeyev commented on #60
No, in our case `click` is not triggered after dropping and it stays opened, only `mouseup` is fired.

[2019-04-12 08:18] mohsinulhaq commented on #60
I attach a outside `click` handler to `document`, whenever the tooltip opens. Do you know how is that not triggered? Is your mouseup or mousedown handler stopping propagation to the click handler?

[2019-04-12 12:24] elias-fadeyev commented on #60
Yep, we are using `react-sortablejs` and it seems that it stops propagation inside `mouseup` handler, if an order of elements has been changed. That's why we don't have `click` event now, but I think it's not a big deal. I mean isn't it a strange behavior of a tooltip to stay at the same place, when the container is moved to an opposite side of the window, even if it will be hidden after that?

[2019-04-12 15:38] denisborovikov commented on #60
@elias-fadeyev Did you try to play with usePortal/portalContainer props? Tooltip can be attached to the draggable element instead of the document body. In this case, it should move with the appropriate container.

[2019-04-12 16:00] elias-fadeyev commented on #60
@denisborovikov. Agree, but then this tooltip will be restricted to have the body only inside the container. It won't work for a big tooltip.

[2019-04-12 16:32] denisborovikov commented on #60
@elias-fadeyev Does outer container has `overflow: hidden`? You can try to apply `overflow` on the inner part of the draggable element so the mutual wrapper won't cut the tooltip.

[2019-04-12 17:29] elias-fadeyev commented on #60
@denisborovikov my fault, you are absolutely right! Unfortunately, a big tooltip now works as a handle and I can use it to drag'n'drop the container, as a part of it) I'll try to find the solution for preventing this behavior. Thank you

[2019-04-17 09:33] olekbruks commented on #58
Look like that everything is ok! I will wait for the response from the test team.

[2019-04-17 16:37] #60 closed

[2019-04-23 08:23] #58 closed

[2019-05-07 16:00] smksnutmeg opened #61 "The modifiers object doesn't seem to be exposed to Popper.JS?"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
I should be able to set:
[code]

but modifiers does not get passed through in source.

[2019-05-07 16:42] mohsinulhaq commented on #61
Modifiers do get passed to Popper.JS here: https://github.com/mohsinulhaq/react-popper-tooltip/blob/master/src/TooltipTrigger.tsx#L93

And offset modifier is an object like any other modifier, rather than a number.
https://popper.js.org/popper-documentation.html#modifiers..offset

[2019-05-08 19:56] denisborovikov commented on #61
As @mohsinulhaq  mentioned, it should be

[code]

[2019-05-09 08:13] #61 closed

[2019-05-13 18:00] erkaner opened #62 "Is it possible to render html content inside the tooltip?"
I wonder if it is possible to turn on rendering html content inside the tooltip. For example, I want to add a header and a paragraph. When I do it now, all rendered as string. I wonder if you consider to implement an option to turn on html-rendering. Thanks!

[2019-05-13 18:46] mohsinulhaq commented on #62
It is quite possible to do html rendering using JSX.
Could you please post your usage here?

[2019-05-13 19:11] erkaner commented on #62
It was my mistake. Thanks for the answer!

[2019-05-13 19:11] #62 closed

[2019-05-23 12:35] NinoMaj opened #72 "findDOMNode usage is deprecated"
This lib uses `findDOMNode` which has been deprecated in StrictMode. Is there a way to avoid using that helper, because it throws warning in StictMode?

[2019-05-23 19:22] mohsinulhaq commented on #72
Fixed in `v2.8.3`. Please confirm.

[2019-05-24 14:09] #72 closed

[2019-06-07 05:18] majapw opened #73 "Add looser peer dep requirements for react and react-dom?"
QQ: Would it be possible to loosen the react and react-dom peer dep restrictions to ^16.0.0 or are there explicit dependencies on react 16.6+ features in this library?

[2019-06-07 08:10] mohsinulhaq commented on #73
https://github.com/mohsinulhaq/react-popper-tooltip/blob/master/src/Tooltip.tsx#L11
I am using this feature from React 16.6
https://github.com/facebook/react/blob/master/CHANGELOG.md#react-dom-8

[2019-06-07 16:57] majapw commented on #73
No worries! Thank you for the quick response.

[2019-06-07 16:57] #73 closed

[2019-09-17 12:04] AlexLomm opened #75 "Exposing the Popper.js instance"
**Is your feature request related to a problem? Please describe.**
I had a need to call the `scheduleUpdate` for the underlying Popper.js instance, but was not able to find any way to do that.

**Describe the solution you'd like**
Will it be possible to expose the original Popper.js instance for the advanced use cases that may not be covered by the native API of the "react-popper-tooltip"?

**Desc

[2019-09-17 19:15] mohsinulhaq commented on #75
looking at the [docs](https://github.com/FezVrasta/react-popper), I don't see any way the popper instance itself is exposed. But we can expose `scheduleUpdate` if that's all you need. However, I wonder how that API might look like.
cc: @denisborovikov

[2019-09-18 07:19] denisborovikov commented on #75
I think, we should call scheduleUpdate automatically rather than exposing it. I wonder why the mutation observer doesn't work here.

[2019-09-18 07:36] mohsinulhaq commented on #75
https://github.com/mohsinulhaq/react-popper-tooltip/blob/master/src/Tooltip.tsx#L5
Because it is only tracking subtree node addition/removal changes. We can further add attribute change detection and ask the OP to change class when the target resizes or moves.

[2019-09-18 12:37] dnizetic opened #76 "Clicking the trigger should not stop propagation"
Clicking the trigger stops event propagation:

https://github.com/mohsinulhaq/react-popper-tooltip/blob/master/src/TooltipTrigger.tsx#L194

I don't understand why this is the default behaviour. It limits the trigger to only do one thing - open the popup - why impose this limit? If user wants to stop propagation it can easily be done by calling getTriggerProps() and overriding onClick.

I was wande

[2019-09-18 13:04] mohsinulhaq commented on #76
This is added to support hybrid devices with both touch and click support. event.stopPropagation is making sure only one of the event is triggered at a time. Feel free to suggest a better way of handling both touch and clicks.

[2019-09-18 13:54] dnizetic commented on #76
So ideally the propagation will only be stopped on mobile devices - any chance this (or some other solution) can make it to release any time soon?

[2019-09-27 15:54] moonray opened #77 "Add 'focus' trigger"
**Is your feature request related to a problem? Please describe.**
While click and hover are relevant triggers in most cases, the use of focus for triggering the tooltip is sometimes needed when using keyboard navigation.

**Describe the solution you'd like**
Add a 'focus' trigger in addition to the existing click, right-click, and hover triggers.

**Describe alternatives you've considered**
n/a

[2019-09-27 19:51] mohsinulhaq commented on #77
https://github.com/mohsinulhaq/react-popper-tooltip/issues/59
check this out

[2019-10-07 21:29] mohsinulhaq commented on #77
@moonray https://github.com/mohsinulhaq/react-popper-tooltip/releases/tag/2.9.0
Focus trigger is now supported in react-popper-tooltip@2.9.0

[2019-10-07 21:29] #77 closed

[2019-10-10 17:00] mohsinulhaq commented on #76
Please try out v2.9.1 and let me know if everything is fine or not. I have removed the stopPropagation usage.

[2019-10-11 16:08] #76 closed

[2019-10-15 14:19] iazO opened #79 "[Question/Bug] React-Window scroll causes tooltip to rerender for no reason."
**Describe the bug**
We are using React-Window for show casing big lists. Within this big list we often use popper-tooltip to allow for extra visualization of information.

React-window is smart enough to not rerender any rows which were already rendered once as long as the information does not change.

However, when scrolling in React-window when using these tooltip component ALL tooltip componen

[2019-10-15 14:21] mohsinulhaq commented on #79
Can you please provide a minimal codesandbox for this?

[2019-10-15 15:09] iazO commented on #79
Thanks for responding so quickly:
https://codesandbox.io/embed/react-window-meets-tooltip-popper-xheky

The React-Dev tools do not work in the embedded viewer though.

[2019-10-16 08:13] iazO commented on #79
I've made a new sandbox which resembles my scenario more https://codesandbox.io/s/boring-https-7nn4b, using infiniteloader. It is still not exactly like in our application, as we do api calls and stuff, but i'm unable to reproduce it in an easy manner.

So i'll close the question for now as i'm not able to properly reproduce it for you in order to have a look. Thanks for your time though!

[2019-10-16 08:13] #79 closed

[2019-10-22 14:27] robertedjones commented on #76
This is a breaking change

[2019-10-22 14:31] mohsinulhaq commented on #76
@robertedjones Did it break something for you? I had added the same stopPropagation in `v2.8.1`.

[2019-10-22 15:00] robertedjones commented on #76
@mohsinulhaq yes i was previously using v2.8.3 without issue but now you have removed stopPropagation I have unwanted events firing. I have tried to override the onClick event using getTriggerProps but can't seem to re-create the functionality from before - do you have any pointers? For now I will roll back to 2.8.3. Thanks

[2019-10-22 16:13] mohsinulhaq commented on #76
@robertedjones the behavior currently displayed by the tooltip is consistent with React's philosophy of Potals. See: https://github.com/facebook/react/issues/11387

Regarding

Check this out, this worked fine for me
https://codesandbox.io/s/react-popper-tooltip-example-bq9li

[2019-10-23 12:14] robertedjones commented on #76
@mohsinulhaq thanks for the demo, that's what I had tried but it had other knock-on effects which I would need to spend some more time investigating. For now I've rolled back.

[2019-10-23 12:15] mohsinulhaq commented on #76
it is possible that there are other click-like events in the container like `mouseDown`.

[2019-10-25 07:10] itsravenous opened #81 "Support multiple triggers"
**Is your feature request related to a problem? Please describe.**
For accessibility it would be nice to be able to show tooltips on hover for mouse users and focus for keyboard users. It doesn't seem like this is currently possible, because only one event type can be passed to the `trigger` prop.

**Describe the solution you'd like**
Support passing multiple triggers to `trigger`. A space-separat

[2019-10-26 13:54] mohsinulhaq commented on #81
I have released `v2.10.0` with the required support. Please try it out and confirm if it's working fine for you.

[2019-10-29 18:06] #81 closed

[2019-10-30 16:21] itsravenous commented on #81
Thank you!

[2019-11-27 13:14] AndreiDogaru opened #82 "BUG set an array of strings for the trigger prop"
**Describe the bug**
When setting the trigger to an array of strings, the hover effect doesn't work properly anymore. If you hover the trigger and move your mouse inside the tooltip, the tooltip disappears.

**To Reproduce**
Go to the code sandbox from your documentation and inside Example.js replace the value of trigger with {["hover"]} or any other array of strings. Then try to move the mouse in

[2019-11-27 17:07] mohsinulhaq commented on #82
Thanks for raising the issue. I will provide a new release with the fix by this weekend. There are some typing issues with the newer versions of `react-popper` which I need to look into.

[2019-11-28 17:14] mohsinulhaq commented on #82
`v2.10.1` released with the fix. Please try it out and let me know.

[2019-11-29 12:45] AndreiDogaru commented on #82
It works as expected now 👍

Cheers mate !

[2019-11-29 12:45] #82 closed

[2019-12-18 11:07] evandikt opened #85 "Don't close on click when trigger hover"
Hi,

I want to don't close the tooltip if `trigger='hover'` and user click on the trigger element.

Try here  : https://react-popper-tooltip.netlify.com/#hover-trigger

THX

[2019-12-18 12:30] denisborovikov commented on #85
Hi there,

You need to use a tooltip as a controllable component. Check this [branch](https://github.com/mohsinulhaq/react-popper-tooltip/issues/59).

Here's a quick example https://codesandbox.io/s/react-popper-tooltip-example-sc9eq

[2019-12-18 13:08] #85 closed

[2019-12-18 16:02] asliwinski opened #86 "Uncaught TypeError: Cannot assign to read only property 'transform' of object '#<Object>'"
**Describe the bug**
I'm using the hover trigger, after hovering over several triggers (or over the same one multiple times) it crashes.

**To Reproduce**
Here's the snippet of my code:
[code]

**Additional context**
[code]

![image](https://user-images.githubusercontent.com/14044823/71102074-cfddad80-2185-11ea-8294-eb10d4006b8f.png)

[2019-12-18 18:18] mohsinulhaq commented on #86
Can you please provide a minimal codesandbox reproducing your use case? I am not encountering this issue with our example sandbox.

[2019-12-18 20:30] asliwinski commented on #86
I will try to provide some minimal working example. What I've observed until now and can be interesting perhaps, is that it only seems to happen with the development build.

[2019-12-18 21:32] mohsinulhaq commented on #86
I just tried to use it in a dev environment as well, I still didn't face any issue. In your app, it seems the props are somehow being frozen.

[2019-12-20 18:51] mohsinulhaq commented on #86
any update on this?

[2019-12-23 20:31] mohsinulhaq commented on #86
Closing this as there has been no update. Feel free to reopen.

[2019-12-23 20:31] #86 closed

[2020-01-30 14:20] Undistraction opened #87 "Code Sandbox link in README has broken preview"
Following the [Example link](https://codesandbox.io/s/pykkz77z5j) on the homepage leads to a Codepen with a broken preview.

[2020-01-30 14:31] mohsinulhaq commented on #87
![image](https://user-images.githubusercontent.com/7688231/73458378-30722400-439b-11ea-98c4-3470caa6ce87.png)
Looks fine to me, which browser are you using. Also can you please post a screenshot?

[2020-01-30 14:47] Undistraction commented on #87
@mohsinulhaq Sure. Chrome Version 79.0.3945.130 (Official Build) (64-bit)

<img width="512" alt="Screenshot 2020-01-30 at 14 47 07" src="https://user-images.githubusercontent.com/161489/73459854-77e2bb00-436f-11ea-8b03-ca3edae2a6e4.png">

[2020-01-30 14:49] mohsinulhaq commented on #87
and what is the error stacktrace in console?

[2020-01-30 14:50] Undistraction commented on #87
[code]

[2020-01-30 14:51] Undistraction commented on #87
@mohsinulhaq I copied all assets to a new sandbox and it is working fine.

[2020-01-30 14:52] mohsinulhaq commented on #87
b @ metrics.ts:146

This is not affecting anything. Any other error?

[2020-01-30 15:17] mohsinulhaq commented on #87
@Undistraction ohh ok, I guess we can close this issue then. This is probably a codesandbox compatibility issue.

[2020-01-31 04:58] #87 closed

[2020-01-31 14:01] Undistraction opened #88 "Feature Request: Expose trigger ref to Tooltip"
**Is your feature request related to a problem? Please describe.**
Currently the tooltip has no access to the element that triggered it. This means it cannot adjust its arrow horizontal position (for example) based on the metrics of the triggering element. By knowing the width of the triggering element, the arrow could always be centred on that element, even if the tooltip is displayed using 'bott

[2020-01-31 14:02] Undistraction commented on #87
Yeah. Sorry for the noise. I don't use CodeSandbox, so I just thought there was an issue with your CS project that you should know about.

[2020-01-31 14:07] mohsinulhaq commented on #88
If what you want is access to the trigger component, you can use the `getTriggerRef` prop on `TooltipTrigger`. Does this solve your problem?

[2020-01-31 14:41] Undistraction commented on #88
@mohsinulhaq Unfortunately not, because the component used to render the tooltip has to be passed to TooltipTrigger as a property, so getting access to the ref in its children renderProp is too late. There is no way to pass that ref into the tooltip component.

[code]

[2020-01-31 15:28] mohsinulhaq commented on #88
No, it's not late, instead of passing the Tooltip function directly, you can pass a higher-order function that just passes along the props along with the ref.

Check this:
https://codesandbox.io/s/react-popper-tooltip-example-g4rvf

[2020-01-31 16:18] Undistraction commented on #88
@mohsinulhaq Ah. Thank you. I thought the ref was managed internally by the library. I didn't realise I could create my own and pass it around.

[2020-01-31 16:18] #88 closed

[2020-02-26 22:05] denisborovikov commented on #41
Seems it's going to be fixed in coming React 16.3.0

[2020-02-27 05:03] mohsinulhaq commented on #41
@denisborovikov yeah, I had asked here https://github.com/facebook/react/pull/17675#issuecomment-591637136 just to be sure it's the exact same issue.

[2020-02-27 06:04] mohsinulhaq commented on #41
They have now closed the issue. I guess we can close this one as well, as I can see that your sandbox is working as expected after the upgrade.

[2020-02-27 06:04] #41 closed

[2020-02-27 20:01] denisborovikov commented on #41
Huh, now it means we can't even have a tooltip on a disabled button.

[2020-02-27 20:23] mohsinulhaq commented on #41
That's what should happen according to HTML spec. If you still want it, you can wrap the button with a div.

[2020-02-27 22:15] denisborovikov commented on #41
Sure, or use a fake button as well. Did know it's according to spec.

[2020-03-16 17:10] penx opened #89 "followCursor tooltip - reposition if you mouse over tooltip"
**Describe the bug**
In `followCursor` mode, the tooltip doesn't reposition if you move the mouse over the tooltip

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the follow cursor demo https://react-popper-tooltip.netlify.com/#follow-cursor
2. Mouse over to see tooltip
3. Quickly move the mouse over the tooltip
4. Tooltip doesn't reposition

**Expected behavior**
react-popper-tooltip

[2020-03-16 17:57] mohsinulhaq commented on #89
this is the intended behaviour, as it's tracking mouse position within the bounds of the trigger and not the tooltip or anything else

[2020-03-16 18:02] penx commented on #89
This is "within the bounds of the trigger" but the tooltip is overlayed on top of it. If the tooltip was repositioned instantly then you would never see this issue as you wouldn't be able to mouse over it. The issue happens when you quickly move the mouse over the tooltip before it has a chance to reposition.

I accept this may be hard to solve due to the inner workings of what's happening, but I'

[2020-03-16 18:04] penx commented on #89
<img width="1004" alt="Touch Bar Shot 2020-03-09 at 17 47 56" src="https://user-images.githubusercontent.com/1027024/76787281-97636500-67b0-11ea-8afb-882d1e8af9d3.png">

[2020-03-16 18:04] penx commented on #89
![followCursor](https://user-images.githubusercontent.com/1027024/76787298-a4805400-67b0-11ea-97bf-c702721e46ba.gif)

[2020-03-16 18:06] mohsinulhaq commented on #89
oh got it, yes the positioning happens asynchronously, so your situation can occur. Right now I don't have the bandwidth to look into it. Feel free to raise a PR. Otherwise I'll give it a look this weekend.

[2020-03-16 18:13] denisborovikov commented on #89
I believe, if you add `pointer-events: none` to the `.tooltip-container` it should resolve this issue.

[2020-03-16 18:23] penx commented on #89
Yep that works for me, thanks! Happy for this issue to be closed, unless you think it needs to be solved in the lib or added to the docs.

[2020-03-16 18:39] penx commented on #89
on second thoughts, if it's easy enough to add `pointer-events: none`, but only when followCursor is true, then probably a good idea to do this in react-popper-tooltip so others don't get unexpected jankiness

[2020-03-17 14:01] mohsinulhaq commented on #89
@penx the library doesn't and shouldn't come with inherent CSS, just event handlers, CSS is kept to the user to add. Hence I'm closing the issue.

[2020-03-17 14:01] #89 closed

[2020-03-27 14:20] swreeser opened #90 "Export TS Types and Interfaces"
I see the changes I need are merged into master #84, thanks @dimorphic 😻

I propose releasing the latest changes.
https://github.com/mohsinulhaq/react-popper-tooltip/compare/v2.10.1...master
[code]

[2020-03-27 14:30] swreeser commented on #90
Whoops, i tried the Related Issues search and didn't realize it had cleared my message out.

[2020-03-27 14:33] mohsinulhaq commented on #90
I am making a new minor feature release soon. This will go with that.

[2020-03-27 17:00] mohsinulhaq commented on #90
Published [v2.11.0](https://github.com/mohsinulhaq/react-popper-tooltip/releases/tag/v2.11.0) with the changes you require. Please try it out.

[2020-03-27 17:00] #90 closed

[2020-04-01 20:04] tvsbrent opened #91 "Source in "dist" directory in v2.11.0 using ES2015+ syntax, v2.10.1 does not"
**Describe the bug**
In examining the source files in version `2.11.0` ES2015+ syntax is used. I didn't see this mentioned in the release notes, so I'm assuming this was unintended. This is causing an issue when trying to use this library in IE11, as it doesn't support that syntax. (This library is a dependency of a Storybook library, so the tests of our frontend components fail in IE11 due to thi

[2020-04-01 22:21] mohsinulhaq commented on #91
Here's what happened:
https://github.com/mohsinulhaq/react-popper-tooltip/blob/8116f887e8cd3b344c6ef97c3fa8d8c2bdf44064/.browserslistrc#L3
IE11 was explicitly not supported before today's commit. But the transforms required by it was happening anyway because of the other queries in the `.browserslistrc`.
But after recent `@babel/preset-env` upgrade done before the recent release, browser list got

[2020-04-01 22:47] tvsbrent commented on #91
Just gave that a try and the Storybook instance worked fine in IE11. Thanks for the quick fix!

[2020-04-02 04:42] mohsinulhaq commented on #91
Great, closing this issue then.

[2020-04-02 04:42] #91 closed

[2020-05-19 15:40] bponomarenko opened #92 "Update deprecated sub-dependency"
**Describe the bug**
Latest version of the `react-popper-tooltip` depends on `v1` of the `react-popper` library, which by itself depends on `v1` of `popper.js`. `poperjs` `v1` is deprecated in favor of `@popperjs/core` package.

**Additional context**
There is already new version of the `react-popper` (latest is `2.2.3`) which depends on a newer `@popperjs/core` (and it is a peer dependency now).

[2020-06-07 00:54] mike-shtil commented on #92
I second the request to update to `popperjs` `v2`. This can bring about potential size savings and better position stability.
Looking at the migration guide, some API has breaking changes. For example, modifiers changed from a dictionary to a list (`{followCursorModifier: { enabled: true }}` is now `[name: 'followCursorModifier', enabled: true]`.
https://popper.js.org/docs/v2/migration-guide/

`re

[2020-06-07 20:22] mohsinulhaq commented on #92
@mike-shtil @bponomarenko I would release v3 with the breaking changes and probably look into introducing hooks as the primary way to use the package. But unfortunately, I don't have the bandwidth to work on the change currently. However, please feel free to contribute if you want. 🙂

[2020-06-11 09:55] ndelangen opened #94 "Upgrade to latest popper packages"
**Is your feature request related to a problem? Please describe.**
popper.js v1 has been deprecated

**Describe the solution you'd like**
Upgrading all popper related packages

**Describe alternatives you've considered**
none

**Additional context**
https://github.com/storybookjs/storybook/issues/9961#issuecomment-642539585

[2020-06-11 09:57] stof commented on #94
@ndelangen I think this is a duplicate of #92

[2020-06-11 10:09] #94 closed

[2020-06-13 22:36] mohsinulhaq commented on #92
@mike-shtil @bponomarenko I have published `react-popper-tooltip@3.0.0-alpha.0`
Please try it out and let me know if they work fine.
There are only two breaking changes. `modifiers` is now an [array](https://popper.js.org/docs/v2/migration-guide/#10-update-modifiers) and `closeOnOutOfBoundaries` has been renamed to `closeOnReferenceHidden`. Both of the changes reflect the corresponding breaking ch

[2020-06-18 09:01] mohsinulhaq commented on #92
@bponomarenko did you get to try it out? does it work fine?
I am going for a stable release.

[2020-06-22 09:49] bponomarenko commented on #92
@mohsinulhaq Sorry for the late reply. Honestly to say, I don't have live projects which are using it atm, so it is hard for me to test it.

[2020-06-23 11:31] palashkaria commented on #92
@mohsinulhaq I tested out the alpha on a small use-case I built on 2.11.1 last week (not using on full project yet). It works well. v3 release should be good to go

Note: There are some other breaking changes in popper-js v2 too; but I think the users can take care of it. This link is useful:

https://popper.js.org/docs/v2/migration-guide/#10-update-modifiers

we can add a 'migration' section with

[2020-07-01 21:41] mohsinulhaq commented on #92
I have released [v3](https://github.com/mohsinulhaq/react-popper-tooltip/releases/tag/v3.0.0) with an upgraded popper-js dependency to v2. 🎉

[2020-07-01 21:41] #92 closed

[2020-07-09 07:31] lostfictions opened #96 "Could you continue shipping some sensible default CSS?"
Hi there, thanks for this library! I just installed the latest version for a new project, but I was a bit confused that the tooltips weren't styled, and the npm module doesn't ship any CSS I can import. I saw in the release notes that this is a recent change.

Given that it's still up to the user to import CSS themselves (and thus that it doesn't add any cost or bloat the bundle size by default) i

[2020-07-09 07:33] lostfictions commented on #96
(Incidentally, for any other users landing on this issue because they're confused about styling the tooltip, I just grabbed the [CSS from the last tagged release](https://github.com/mohsinulhaq/react-popper-tooltip/blob/v2.11.1/src/styles.css) -- it seems to work fine.)

[2020-07-10 08:57] dkhirude commented on #7
@mohsinulhaq Is there any documentation available regarding implementing custom triggers ?

[2020-07-10 09:07] mohsinulhaq commented on #7
@dkhirude you can use the controlled mode: https://react-popper-tooltip.netlify.app/#controlled

[2020-07-12 15:33] mohsinulhaq commented on #96
@lostfictions https://github.com/mohsinulhaq/react-popper-tooltip/releases/tag/v3.1.0
here you go! 😃

[2020-07-12 20:02] lostfictions commented on #96
Thanks so much!

[2020-07-12 20:02] #96 closed

[2020-07-15 15:11] adi518 opened #97 "Tree-shaking doesn't work"
I'm building a component library that uses `TooltipTrigger` (version `2.11.1`). Unfortunately, it breaks tree-shaking by probably introducing some side-effects. I'm building with Rollup.

[2020-07-15 15:18] mohsinulhaq commented on #97
can you try with the latest version and let me know if it's still the case?

[2020-07-15 15:36] adi518 commented on #97
I already tried, but I'll try again just to confirm.

[2020-07-15 15:57] adi518 commented on #97
I upgraded to latest version and it still fails. See this gist for the code that fails tree-shaking: https://gist.github.com/adi518/f0f1bedb9b0124a06aca2954003620fd

[2020-07-15 16:12] mohsinulhaq commented on #97
I have a theory, maybe this line https://github.com/mohsinulhaq/react-popper-tooltip/blob/master/package.json#L18 is causing rollup to think that the library has side-effects, even though I specify that only importing CSS will have a side-effect.

Ideally, it should have worked because rollup from our build system has marked the export as pure.

What you can do is use v3.0.0, where I had temporari

[2020-07-15 16:23] adi518 commented on #97
I reinstalled at fixed version `3.0.0` and looks like the result is the same: https://gist.github.com/adi518/d7c06eb088997b691d92273328ce05e8

[2020-07-15 16:43] mohsinulhaq commented on #97
maybe your project is using the commonjs version of the library, instead of the esm version.
can you create a sample project using `react-popper-tooltip` that uses rollup?

[2020-07-15 17:33] adi518 commented on #97
I'm fairly sure Rollup picks the esm version, but I'll create a quick repro.

[2020-07-16 09:31] VijayashreeIngalahalli opened #98 "Autofocus input inside tooltip causes scroll jump"
Opening a popper-tooltip with an autofocus input inside it, causes the page to jump (scroll). How can this be resolved?

Also, as I have an input inside the tooltip, the tooltip close should be handled only on click outside the tooltip, the scroll of the main page should not cause the tooltip to close, the tooltip in opened on focus and click of the element, so as stated in #85 and #59, handling t

[2020-07-16 09:49] mohsinulhaq commented on #98
can you share a codesandbox depicting the issue?

[2020-07-16 10:08] VijayashreeIngalahalli commented on #98
https://codesandbox.io/s/react-popper-tooltip-example-zqnxf?file=/src/index.js , I have tried to create one

[2020-07-16 11:34] VijayashreeIngalahalli commented on #98
One more example where the type is set to focus and as we have the textarea element inside the tooltip, on click of the textarea within the tooltip the focus is lost and tooltip closes, the focus should close when the user clicks outside for both the focus and click trigger.

https://codesandbox.io/s/react-popper-tooltip-example-pk9ks

[2020-07-16 12:44] mohsinulhaq commented on #98
regarding the first one, two things:
- the default behavior of HTML focus is to scroll to the position of the element focussed on. Due to the way popper-js works, it initially renders the tooltip with position (0,0) and then moves it to the proper place. The jump is due to the focus going to (0, 0). In the sandbox, I have created a custom input component that does focus without scrolling. That is

[2020-07-16 12:47] mohsinulhaq commented on #98
and in the second one, there is a typo, instead of `trigger={("click", "focus")}`, I think you meant to use an array. Anyway, check this out: https://codesandbox.io/s/react-popper-tooltip-example-ybb32
and let me know if it suffices.

[2020-07-16 13:17] VijayashreeIngalahalli commented on #98
Yeah, so it works with array as well as with the one being tried, so I want the tooltip to get displayed on focus as well as on click of the input element present, in the tooltip I have one more textarea on click of it the tooltip closes, or we can only use the trigger as focus as it is appropriate, but on click of the tooltip to enter the value the tooltip is closed.

[2020-07-16 13:22] mohsinulhaq commented on #98
that's because, with focus trigger, it simply means that tooltip shows up on focus and hides on blur. So you can't really tell the library to use click trigger at once case and focus trigger on another. You could use a custom controlled tooltip with only click trigger and show the tooltip by defining your own focus handler.

[2020-07-16 13:30] VijayashreeIngalahalli commented on #98
Ok will give a try! Thank you :)

[2020-07-17 04:06] #98 closed

[2020-07-18 23:07] adi518 commented on #97
Here's the reproduction: https://github.com/adi518/react-popper-tooltip-treeshake-reproduction

[2020-07-20 22:45] adi518 commented on #97
@mohsinulhaq ?

[2020-07-21 20:10] mohsinulhaq commented on #97
@adi518 thanks for the detailed example, really sorry, I haven't had time to look into it. Will do as soon as I'm free.

[2020-07-21 20:36] adi518 commented on #97
Thanks, I appreciate that.

[2020-07-21 21:38] mohsinulhaq commented on #97
https://github.com/adi518/react-popper-tooltip-treeshake-reproduction/pull/1/files
so the issue seems to be with the publish config of the ui-components library
you are not declaring external libraries to rollup, so rollup is bundling them into the main bundle, thus you lose on the tree-shake magic
you could either declare our lib as external, or use that generic function to mark all deps as exter

[2020-07-21 23:26] adi518 commented on #97
It works, but I fail to understand why I'm losing the tree-shaking when I bundle it in. The library has many deps, not all of them are considered peer deps though.

[2020-07-22 22:49] mohsinulhaq commented on #97
I guess it's because ui-components is a library, not an application, libraries should always ship with its own code importing other code. Only applications need to bundle everything into one file. And they don't have the tree-shaking problem as they aren't going to be imported.

[2020-07-23 18:01] adi518 commented on #97
It makes sense to have a React components library sets React as a peer dependency, but I'm not sure it makes sense to externalize *any* dependency. From my understanding of tree-shaking, the idea is to provide your code as an ESM build, which is then compatible with other ESM builds and can be tree-shake-compatible. I'm going to try and fork this repository and attempt to find the side-effect(s) t

[2020-07-23 18:32] mohsinulhaq commented on #97
i think there is a confusion between peer dependency and dependency

peer dependency means that the library user should provide it
and dependency means that on npm install, that package will install its own package
if you bundle a dependency in your own code, it's no longer a dependency

[2020-07-24 11:56] adi518 commented on #97
There's no confusion. Some dependencies can be bundled in and that's fine. Also, if you think about it, any dependency that as an ESM bundle can be bundled in and. it wouldn't matter because it can be shaken off in the consumer bundle.

[2020-07-24 12:00] mohsinulhaq commented on #97
How do you decide which dependency to bundle and which one to not? Also, ESM and bundle have little overlap. I have seen then when you use ESM, you don't usually "bundle", and just let npm handle the dependencies via package.json and webpack/rollup handle tree-shaking via import/export.

[2020-07-24 12:05] adi518 commented on #97
With common sense. If I create a React component library, the consumer have it. It's like buying an expansion product, it depends on having the main product for it to work. Same goes for this library, I expect Popper to be a peer dependency and not bundled in.

[2020-07-24 12:10] mohsinulhaq commented on #97
Here you are describing which module should be a peer-dep and which one should be a dependency. But my question was about your statement that "some dependencies can be bundled". So we are talking only about dependencies and not peer-dependencies. My question is, which dependency do you bundle in and which dependency do you leave out in package.json itself? Do you have any example where and ESM lib

[2020-07-24 13:34] adi518 commented on #97
So I had a nice discussion with a colleague of mine about this and I finally hit the nail, realising my mistake. I totally understand why it should be externalised now and the exact difference to a peer dependency. Thanks for the great support. 👍

[2020-07-24 21:48] adi518 commented on #97
So I externalized everything, my tree-shake check passes, but my app build still shows Popper, despite not using it. It's getting frustrating, haha.

[2020-07-25 09:48] mohsinulhaq commented on #97
https://github.com/adi518/react-popper-tooltip-treeshake-reproduction/pull/2/files
this seems to be happening with react-popper and/or @popperjs/core itself as well
you can raise this issue with them and get to the bottom of this
there is learning in this probably for both of us

[2020-07-25 10:14] adi518 commented on #97
I did check what Popper say about TS at the outset of this, but failed to check the imports in this library. See: https://popper.js.org/docs/v2/tree-shaking/

It seems your code imports it the wrong way, which brings the entire Popper library:
- https://github.com/mohsinulhaq/react-popper-tooltip/blob/master/src/TooltipTrigger.tsx#L6
- https://github.com/mohsinulhaq/react-popper-tooltip/blob/maste

[2020-07-25 13:50] mohsinulhaq commented on #97
I only import types from "@popperjs/core" which is stripped away in the final dist build. Look at the content of the package tarball. It only has the `react-popper` import. But `react-popper` itself is importing `@popperjs/core` like this: https://github.com/popperjs/react-popper/blob/master/src/usePopper.js#L7

![image](https://user-images.githubusercontent.com/7688231/88458320-d4e8a500-ceaa-11ea

[2020-07-25 14:35] adi518 commented on #97
Then, it looks like we should start an issue with them. However this leads me to realize that every package can possibly break my tree-shake, so I think I need to find a way to seperate it away from the piece of bundle that's actually shake-able.

[2020-07-25 14:44] mohsinulhaq commented on #97
yes, they could break, it's the same with lodash, when you do
`import { isEmpty } from 'lodash';`
it is not tree-shakable, hence plugins like https://github.com/lodash/babel-plugin-lodash exist to convert the imports to
`import isEmpty from 'lodash/isEmpty'`.
You can raise an issue on their repo for understanding this. I will thumbs up your issue 😝

[2020-07-25 14:49] adi518 commented on #97
We'll give it a shot.

[2020-07-25 14:54] adi518 commented on #97
https://github.com/popperjs/react-popper/issues/380

[2020-10-02 22:51] lucasreppewelander commented on #61
Nowadays it seems that the modifiers is no longer an object but an array and thus the very same here above would look like this:
[code]

[2020-11-03 09:01] aigoncharov commented on #41
We had the same problem at https://github.com/hazelcast/frontend-shared/issues/58. We ended up using a child component inside of the button as the tooltip trigger.

[2020-11-05 19:23] mtmacdonald opened #101 "React 17 support"
Please can we have support for React 17 so I don't get this peer dependency warning when installing in my React 17 projects. Thanks!

npm WARN react-popper-tooltip@2.11.1 requires a peer of react@^16.6.0 but none is installed. You must install peer dependencies yourself.
npm WARN react-popper-tooltip@2.11.1 requires a peer of react-dom@^16.6.0 but none is installed. You must install peer dependenc

[2020-11-06 19:30] mohsinulhaq commented on #101
https://github.com/mohsinulhaq/react-popper-tooltip/releases/tag/v3.1.1

[2020-11-06 19:30] #101 closed

[2020-11-24 12:01] omersname opened #102 "Change tooltip color or theme"
I can't change the color of the tooltip. I can override the css with `!important` but I still have a problem with the arrow styling. For me it's a real problem!

It will be a good idea to add a prop for color of the whole tooltip. Example: `color='#000'` .

Alternatively, add a prop for a theme color if you want a several pre-styled tooltips. Example: `theme='dark'` .

[2020-11-24 12:14] mohsinulhaq commented on #102
can you please share a minimal Codesandbox demonstrating what you are trying to do?

[2020-11-24 16:30] denisborovikov commented on #102
You can create your own CSS file from scratch or use the default one as an example. Set any styles and colors you want, there's no need to add any props for this purpose.

[2020-11-24 18:10] omersname commented on #102
That is a good idea 👍 yet I still think you should add this feature, it will be much simpler for us :) thanks

[2020-11-24 18:10] #102 closed

[2020-11-27 15:16] robba86 opened #104 "Close tooltip-content when mouse over it"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I like to make the tooltip-content disappear when the target for the tooltip is not hovered any more. If you hover the actual tooltip-content it should close.

**Describe the solution you'd like**
A clear and concise description of what yo

[2020-11-28 10:53] mohsinulhaq commented on #104
You could use the component in controlled mode and hide `onMouseLeave` of the trigger.
Check this example out:
https://codesandbox.io/s/busy-water-q4vwc?file=/src/App.tsx

[2020-11-28 11:31] robba86 commented on #104
Awesome, thank you. I would figure it ut eventually but thought it was easier to reach out. Ill check out the example

[2020-11-29 00:58] robba86 commented on #104
Humz.. you solution did not seem to work that good, it kind of works as expected but when i have hovered an button and hover its tooltip, and i want to hover the button again it will not show (i think the position is where the tooltip is placed in that area when you hover your mouse over the button). Try adding more items and make some hover tests and you will see what i mean.

I tried solving thi

[2020-11-29 09:42] mohsinulhaq commented on #104
Got it. So the issue happens when you enter from the side from where the tooltip is supposed to appear. The issue is with the lib's arrow CSS. Its bounds extend a couple of pixels beyond the visible bounds because of the way it's made. Due to that when it appears over the trigger, it triggers a mouseleave and immediately triggers a hide.
You have two options:
- If you have your own tooltip CSS in

[2020-11-29 12:24] robba86 commented on #104
Alright it works! Sweet.. now, how do i give you a beer?

[2020-11-29 12:28] mohsinulhaq commented on #104
Haha, glad to hear it worked! Just a star to the library is enough for me 😃

[2020-11-29 12:41] robba86 commented on #104
Thank you, a star it is then =)

[2020-11-29 12:41] #104 closed

[2021-01-26 17:10] denisborovikov commented on #75
We just released the hook version of the library. It exposes `update` and `forceUpdate`.

[2021-01-26 17:10] #75 closed

[2021-01-26 17:13] denisborovikov commented on #21
We just released the hook version of the library. Check out our examples section on how you can implement this feature.

[2021-01-26 17:13] #21 closed

[2021-01-26 17:14] denisborovikov commented on #97
We just release the hook version of the library. Could you please check if this is still an issue?

[2021-01-26 17:15] mohsinulhaq commented on #97
As per discussion with the underlying lib owner, it's an issue to be resolved from their side
as such, closing this issue. Feel free to take the issue further on the issue linked above.

[2021-01-26 17:15] #97 closed

[2021-01-27 15:46] licia03 opened #112 "Issue with types after upgrading to v4.0.0"
**Describe the bug**
After upgrading to v4.0.0 I've been reproducing the following issue with Typescript:
`'node_modules/react-popper-tooltip/dist/cjs/react-popper-tooltip.js' implicitly has an 'any' type.
  Try 'npm i --save-dev @types/react-popper-tooltip' if it exists or add a new declaration (.d.ts) file containing 'declare module 'react-popper-tooltip';`

**To Reproduce**
import { usePopperTo

[2021-01-27 16:49] mohsinulhaq commented on #112
@licia03 thanks for raising the issue, it was due an unintended change in tsconfig. I have reverted that change now. Please try out v4.0.1 and let me know if it fixed the issue.

[2021-01-27 17:16] licia03 commented on #112
Yes now It's working as expected.
Thank you @mohsinulhaq

[2021-01-27 17:41] mohsinulhaq commented on #112
awesome! closing the issue then

[2021-01-27 17:41] #112 closed

[2021-02-03 08:58] ajmerik121 opened #114 "interactive + tooltip offset bug"

[2021-02-04 20:17] mohsinulhaq commented on #114
@ajmerik121 https://codesandbox.io/s/bold-feistel-j0zxp?file=/src/index.js
I see no flickering with 0 offset and interactive `true`. Can you produce a minimal codesandbox by forking our basic example?

[2021-02-04 23:03] ajmerik121 commented on #114
i think u cant understand what im saying , my english is pretty bad and i try my best to find the best words , offset : [ 0 , 20 ] ( any offset > 0) and interactive : true is not working well together ( delayHide causes another bug ) https://codesandbox.io/s/wonderful-field-d0bse

[2021-02-05 09:35] mohsinulhaq commented on #114
okay, my bad, I misread it as 0 offset, but even with > 0 offset, I get no flickering, so I am no longer sure what you mean by flickering. Also since you have used a rather large offset of 20, you would definitely need to add some reasonable delayHide if you want users to be able to move to the tooltip in order to persist it.

Here's a recording with your Codesandbox
https://user-images.githubuser

[2021-02-05 10:15] czabaj commented on #114
I just play with the code and I think I found the root cause. I might be able to prepare PR and describe it all in there.

[2021-02-05 10:19] mohsinulhaq commented on #114
@czabaj sure, feel free to do so

[2021-02-05 10:26] czabaj commented on #114
Yes, got it!

When the _tooltip overlaps the trigger_ and when you move the cursor over the overlapping section, your cursor points to the tooltip and the trigger receive `mouseleave` event and set the visibility `false`, but when the tooltip hides and your cursor is still on the overlaping section, the trigger receives `mouseenter` and sets the visibility `true`, but, as the tooltip emerges, the

[2021-02-05 10:36] mohsinulhaq commented on #114
@czabaj what you are describing is quite different from what @ajmerik121 is talking about.

What you just described happens when interactive is false (default) and offset is set such that the arrow overlaps the trigger. This was the reason we had put the default offset as [0, 7] in our shipped CSS, which is the first solution that you have described. (I assume you are not using our CSS for styling

[2021-02-05 11:19] ajmerik121 commented on #114
Uploading bandicam 2021-02-05 13-18-17-015.mp4…

[2021-02-05 11:20] ajmerik121 commented on #114
delayHide + react spring causing flickering , when mouse leave tooltip should close
https://user-images.githubusercontent.com/74120006/107027475-d9284000-67b4-11eb-8a62-2e26f2695259.mp4

[2021-02-05 12:54] mohsinulhaq commented on #114
@ajmerik121
what did you select your delayHide value as?
Here's mine with the same config as what you talked about. I also made the tooltip a bit bigger so that, I don't mistakenly wander around for more than 250ms, and miss entering the tooltip while swinging side to side.

https://user-images.githubusercontent.com/7688231/107036066-0a1d6a80-67df-11eb-89de-be124c1c436d.mov

[2021-02-09 03:07] uixcrazy opened #116 "show error type in Typescript"
**Describe the bug**
I have this issue with version `4.0.1`
![Screen Shot 2021-02-09 at 10 03 15](https://user-images.githubusercontent.com/16874164/107310159-77bae680-6abe-11eb-8870-ba574804e94c.png)

Can you show me how to fix it?

[2021-02-09 06:25] mohsinulhaq commented on #116
Please attach a Codesandbox reproducing this error.

[2021-02-09 06:28] mohsinulhaq commented on #114
Since the OP updated the description to be empty, closing this issue as resolved. Feel free to reopen if it still persists.

[2021-02-09 06:28] #114 closed

[2021-02-10 09:13] uasi commented on #116
I've got the same problem. Here is a repro: https://codesandbox.io/s/20210210-react-popper-tooltip-type-error-repro-6ywvc?file=/src/index.js

[2021-02-10 09:36] uasi commented on #116
Updated `csstype@3.0.3` (an indirect dependency via `@types/react`) to `csstype@3.0.6` in the repro and the error disappeard.

@uixcrazy try _removing and re-installing_ `@types/react` and any packages that depend on `csstype`. Simply running `yarn upgrade @types/react` or `yarn upgrade csstype` will not work; run `yarn remove @types/react && yarn install -D @types/react` or equevalent npm command

[2021-02-16 10:58] mohsinulhaq commented on #116
closing this as it's not an issue from within our lib

[2021-02-16 10:58] #116 closed

[2021-02-18 14:52] afurnell opened #117 "Tooltip appears even after mouse leaves the trigger"
Even if the mouse is not hovering over the trigger element, the tooltip will still appear.

1. Go to the basic example ([here](https://codesandbox.io/s/github/mohsinulhaq/react-popper-tooltip/tree/master/examples/basic?file=/src/index.js))
2. Modify the code to pass { delayShow: 1000 } to usePopperTooltip
3. Hover over the button, then move the cursor away and stop moving it
4. The tooltip still a

[2021-02-18 16:26] mohsinulhaq commented on #117
@czabaj we should probably add a mouseleave listener as well on the trigger to clear the timeout. Not sure if that's gonna interfere with the mousemove though.

[2021-02-18 21:58] b0hdy opened #118 "Tooltip with hover trigger not working on page with scrollbar"
**Describe the bug**
When mouse enters trigger element and page has vertical scrollbar and his position is not at top of page then tooltip is flickering and does not remain visible. Problem is probably with function `mouseOutsideRect` and comparing mouse and trigger position: `(pageY || clientY) < Math.floor(top) || (pageY || clientY) > Math.ceil(bottom)`.

**To Reproduce**
Steps to reproduce the

[2021-02-19 06:58] mohsinulhaq commented on #118
@czabaj I think using `pageX` instead of `clientX` might solve this? Not sure, can you check?

[2021-02-20 09:09] b0hdy commented on #118
I found another bug with hover on trigger element, the problem is only in Chrome (FF and Safari works properly). When mouse enters trigger element from the top of the element then tooltip is flickering again. Property `mouseEvent.clientY` in `mouseOutsideRect` strangely returns mouse position about `1px` less than a `tooltipRect.top`.

Code: https://codesandbox.io/s/objective-volhard-7hktp?file=/s

[2021-02-20 09:10] b0hdy commented on #118
I found another bug with hover on trigger element, the problem is only in Chrome (FF and Safari works properly). When mouse enters trigger element from the top of the element then tooltip is flickering again. Property `mouseEvent.clientY` in `mouseOutsideRect` strangely returns mouse position about 1px less than a `tooltipRect.top`.

Code: https://codesandbox.io/s/objective-volhard-7hktp?file=/src

[2021-02-20 15:31] mohsinulhaq commented on #118
@czabaj can you check this case with your fix?

[2021-02-21 18:32] czabaj commented on #118
@mohsinulhaq just checked it and this problem appears with `top` and `left` properties, decreasing both by 1 pixel is a quick fix. But I don't know _why_ this happens 😕

[2021-02-21 20:52] mohsinulhaq commented on #118
wow, pretty weird, let me check it out as well

[2021-02-21 21:39] mohsinulhaq commented on #118
https://codesandbox.io/s/serene-voice-7cbco?file=/src/index.js
Chrome: 7px and 8px
Firefox: 9.6px and 10px
Safari: 10px and 10px
🤷‍♂️

[2021-02-22 08:24] czabaj commented on #118
@mohsinulhaq forked your test and re-tested https://codesandbox.io/s/sharp-zhukovsky-g65qm?file=/src/index.js

Both Firefox and Safari suffer from the rounding error originating from the fact, that DOMRect supports fractional pixels but MouseEvent not ([although it seems that it shall support fractional pixels too](https://github.com/w3c/pointerevents/issues/107)), but only Chrome reports whole in

[2021-02-22 08:47] czabaj commented on #118
I created an issue in the chromium issue tracker https://bugs.chromium.org/p/chromium/issues/detail?id=1180746

[2021-02-22 09:02] mohsinulhaq commented on #118
@czabaj thanks for filing it, I was thinking the same, but I thought first I would consult [StackOverflow](https://stackoverflow.com/questions/66307403/discrepancy-in-google-chrome-between-mouse-event-clienty-and-getboundingclientre).
No problem.

Btw, shouldn't we add/subtract 1 only for Chrome?

[2021-02-22 09:12] czabaj commented on #118
@mohsinulhaq I would rather not exceed the DOMRect conditionally, it will increase the complexity, I'm not aware of any way how to test the browser vendor reliably and easily, and increasing the DOMRect by 1 pixel will only cause the Tooltip to hide after the mouse leaves "the Trigger and 1 pixel" which is negligible IMHO.

[2021-02-22 09:22] mohsinulhaq commented on #118
hmmm makes sense 👍

[2021-02-23 10:20] mohsinulhaq commented on #118
somehow, merging the PR auto-closed this issue

[2021-02-23 11:29] mohsinulhaq commented on #118
@b0hdy please try out v4.1.1 and let us know if it fixed your issue.

[2021-02-23 11:30] mohsinulhaq commented on #117
@afurnell please try out v4.1.1 and let us know if it fixes your issue

[2021-02-23 11:42] b0hdy commented on #118
@mohsinulhaq works well, thank you.

[2021-02-23 11:42] #118 closed

[2021-02-23 12:08] afurnell commented on #117
I tried to upgrade and received an error:
`> react-popper-tooltip@4.1.1 postinstall C:\{My Project Path}\node_modules\react-popper-tooltip`
`> husky install`

`'husky' is not recognized as an internal or external command, operable program or batch file.`

I then updated using `--ignore-scripts` and can confirm this issue is fixed. Thanks!

[2021-02-23 12:08] #117 closed

[2021-02-23 12:27] mohsinulhaq commented on #117
@afurnell fixed in v4.1.2, thanks for reporting

[2021-03-05 15:49] LodewijkSioen opened #121 "Style.css doesn't work on IE11"
**Describe the bug**
Since #107 the default css uses [css variables](https://caniuse.com/css-variables). This is not supported in IE11 (which sadly we still have to support.

**To Reproduce**
Steps to reproduce the behavior:
Open a tooltip on css: there is no background on the popup.

**Expected behavior**
We would like the popup to have a background

**Screenshots**
![afbeelding](https://user-ima

[2021-03-05 16:01] mohsinulhaq commented on #121
The point of the variable was to allow users to override the colors at a central level, which won't be possible if we repeat them.
One thing you could do is copy our CSS file to your project and replace vars with the color literals.
Would that work for you?

[2021-03-08 12:24] LodewijkSioen commented on #121
I understand your reasoning. Still, this means that IE11 is not really supported. That said, we fixed it by using postcss in our webpack.config:

[code]

[2021-03-09 09:22] mohsinulhaq commented on #121
Cool, closing this issue as resolved.

[2021-03-09 09:22] #121 closed

[2021-03-10 14:52] sami-romdhana opened #122 "Scrolling causes overflowing issues"
**Describe the bug**

When tooltips are placed inside a scrolling area, hovering above them and scrolling produces weird results, namely tooltips remaining open and outside the scrolling area.

**To Reproduce**

[Here is a CodeSandbox with an MRE](https://codesandbox.io/s/damp-butterfly-q7x8n).

**Expected behavior**

When scrolling, tooltips should be closed or at least be hidden when "overflowin

[2021-03-10 16:48] yomansk8 opened #123 "Multiple tooltips inside of a scrollable container"
**Describe the bug**
Since v4.0.0, we expected to have some bad interactions between react-popper-tooltip and scroll. With `trigger: 'hover`, in a scrollable container with multiple tooltips, hover one of those, then scroll without moving the mouse. You'll have multiple tooltips that will shows (while only one at a time was displayed before).

**To Reproduce**
I've made this codesandbox that repro

[2021-03-10 18:09] Lueton opened #124 "Question: using popper for multiple features"
Hi!

I would like to use this package for my project. But I need popper for more than just tooltips.

Here is my question:
**If i use your package can I use Popper without installing it separately, or do I have to install all the required packages in addition, and if so, does my bundle include both versions of Popper? (In case of that, how can I prevent it?)**

Thanks

[2021-03-10 20:10] mohsinulhaq commented on #122
@czabaj could you please look into it?

[2021-03-10 20:13] mohsinulhaq commented on #124
Could you elaborate a bit more? Do you want to use `react-popper-tooltip` as well as `@popperjs/core` in your project?

[2021-03-10 23:40] Lueton commented on #124
Exactly! I mean, I could just copy your code, but that doesn't sound like a good solution to me.

[2021-03-11 08:24] czabaj commented on #122
I will look into it later, but so far I see 2 problems:

1. wrong positioning of the tooltip,
2. the `isMouseOutside` calculation shall be also triggered by the `scroll` event, where the mouse is not `mousemove` but the content under the cursor is moving.

[2021-03-11 08:33] mohsinulhaq commented on #122
@czabaj yes, that's something we didn't have to worry about with mouseleave in earlier versions

[2021-03-11 08:36] mohsinulhaq commented on #124
Yes, you can use both the libs without having duplicate packages in your bundle or anything like that.
just add the same version semver of `@popperjs/core` to your project's package.json as used by our lib in our `package.json`.

[2021-03-11 08:42] Lueton commented on #124
Thank you! :)

[2021-03-11 08:42] #124 closed

[2021-03-14 13:55] czabaj commented on #122
As the revert to `mouseleave` mechanism will be a breaking change (popper offset will be private, distance between Reference and the Tooltip will configurable via CSS), I also prepared a fix PR for v.4.

[2021-03-14 19:52] #122 closed

[2021-03-15 10:06] mohsinulhaq commented on #122
@sami-romdhana please check out `v4.2.0` and let us know if it solved the issue for you.

[2021-03-15 17:10] denisborovikov commented on #122
An escaping tooltip issue can be fixed using `closeOnTriggerHidden: true` or add CSS
[code]

[2021-03-16 08:19] sami-romdhana commented on #122
@mohsinulhaq I can confirm that the issue is solved on my end with the latest version, thanks for your quick response and your work !

[2021-03-16 08:21] yomansk8 commented on #122
@mohsinulhaq @denisborovikov I can also confirm that it solves #123 too, thanks for the good work and reactivity guys 💪

[2021-03-24 22:31] dyst5422 opened #130 "Husky is dev-dependency, but part of postinstall script"
**Describe the bug**
Husky is dev-dependency, but part of postinstall script, so you get an error on install like

npm ERR! code 127
npm ERR! path /Users/jdstewar/gitRepos/uplink-dashboard/node_modules/react-popper-tooltip
npm ERR! command failed
npm ERR! command sh -c husky install
npm ERR! sh: husky: command not found

**To Reproduce**
Try to install react-popper-tooltip

**Expected behavior**
N

[2021-03-24 22:33] mohsinulhaq commented on #130
it was an issue in an older version
are you installing the latest version (v4.2.0) and still getting the same issue?

[2021-03-24 22:38] dyst5422 commented on #130
I believe so. It looks to be an issue in 4.2.0 based on the package.json file https://github.com/mohsinulhaq/react-popper-tooltip/blob/v4.2.0/package.json

[2021-03-26 10:43] mohsinulhaq commented on #130
@dyst5422 works for me. Can you please try installing the latest version once again?
![image](https://user-images.githubusercontent.com/7688231/112620100-196b7c80-8e4e-11eb-86ac-a1074143a7d8.png)

[2021-03-29 22:03] mohsinulhaq commented on #130
closing this as resolved

[2021-03-29 22:03] #130 closed

[2021-03-30 23:13] denisborovikov opened #131 "Using tooltip as a controlled component ignores delayShow/delayHide"
## How to reproduce

1. Open a controlled component [example](https://codesandbox.io/s/github/mohsinulhaq/react-popper-tooltip/tree/master/examples/controlled)
2. Add `delayShow: 2000` to the hook options
3. Click `Trigger element` and see `delayShow` works, the tooltip shows with a delay. Click again to hide the tooltip.
4. Click `External control` and see the tooltip shows immediately.

## Probl

[2021-03-31 00:56] denisborovikov commented on #131
Nevermind, this is probably not an issue. In the case of the controlled component, if the external state changes instantly with no delay, the tooltip state changes instantly as well.

If dealy required, it should be applied to the external state change. I.e. if the user clicks `External control`, states have to change after a 2000ms delay.

[2021-03-31 00:59] #131 closed

[2021-04-30 13:45] cristiannietodev91 opened #132 "display: none on tooltip arrow"
**Describe the bug**
Tooltip arrow is keeping by default on display: none

I had to override the .tooltip-arrow class with display: block

**Expected behavior**
the tooltip arrow should be showed when the tooltip is open or it must exist a param whether I want to show the tooltip arrow

[2021-04-30 14:56] mohsinulhaq commented on #132
@cristiannietodev91 could you please post a codesandbox showcasing your issue?
Here's the basic sandbox to fork from: https://codesandbox.io/s/github/mohsinulhaq/react-popper-tooltip/tree/master/examples/basic

[2021-05-05 06:46] mohsinulhaq commented on #132
Closing this due to no reproducer being available, feel free to reopen in case it becomes available.

[2021-05-05 06:46] #132 closed

[2021-05-16 08:19] shovalk opened #133 "Version 4.X.X isn't supported in Shadow DOM."
**Describe the bug**
Version 4.X.X isn't supported in Shadow DOM.
The tooltip isn't working as expected. I've found 2 bugs:
1. Tooltip trigger- a click on the trigger opens the tooltip, clicking on it again closes it and reopen it, the tooltip remain open.
2. Tooltip element- clicking inside the tooltip doesn't execute the tooltip click behaviour, the tooltip just closes. Clicks inside the tooltip

[2021-05-22 15:34] mohsinulhaq commented on #133
@shovalk since you mentioned v4, does that mean it was working on v3?

[2021-05-23 15:27] mohsinulhaq commented on #133
nevermind, I just checked, it would have been the same in any version, since event.target doesn't work with shadow DOM.

[2021-05-23 15:45] mohsinulhaq commented on #133
@shovalk I have released v4.3.0-alpha.0 with the fix for the issue. Please check it out and let me know if it fixes all of your issues.

[2021-05-23 15:55] shovalk commented on #133
@mohsinulhaq Thank you. I'll try it and update you whether is works or not

[2021-05-25 13:15] shovalk commented on #133
Hey @mohsinulhaq I checked and it seems that the issue is resolved. Do you plan on releasing version 4.3.0?
Thanks!

[2021-05-25 15:47] mohsinulhaq commented on #133
@shovalk released `v4.3.0`

[2021-05-26 15:13] shovalk commented on #133
@mohsinulhaq Thank you

[2021-05-26 19:26] fffaria opened #135 "Tooltip does not disappear when fast hovering over multiple setTriggerRef divs."
**Describe the bug**
Whenever you have two divs with different setTriggerRef that are close to each other, and when you hover the mouse over them a bit fast, at least one of the tooltips stays visible even after the mouse is not hovering over them anymore.
This may be a bit too specific, but I am using two different setTriggerRefs over a canvas, and they might overlap each other, and very often us

[2021-05-26 19:30] mohsinulhaq commented on #135
@fffaria in your csb, I see only one trigger, could you please update it to include two of them like in the screenshot?

[2021-05-26 19:33] fffaria commented on #135
Ops. Forgot to save. CSB updated.

[2021-05-26 19:37] mohsinulhaq commented on #135
@fffaria
![ezgif com-gif-maker](https://user-images.githubusercontent.com/7688231/119720619-d34f8b00-be87-11eb-8412-957ed0e8fa17.gif)
looks fine to me, could you send a gif explaining what's happening on your end?

[2021-05-26 19:40] denisborovikov commented on #135
I can reproduce the described behavior. @mohsinulhaq You need to _small_ circles in the area near the tooltip's arrows elements.

[2021-05-26 19:42] mohsinulhaq commented on #135
great! @denisborovikov
are you taking this up?

[2021-05-26 19:44] denisborovikov commented on #135
@mohsinulhaq I'll try to take the next weekend. Feel free to pick it up If you're able to make it earlier.

[2021-05-26 19:46] mohsinulhaq commented on #135
@denisborovikov sure!

[2021-05-26 19:49] fffaria commented on #135
Here is how usually happens to me. I know it's very specific, but this glitch is very common when you have a small bar in a chart and the user hovers over them at a certain speed.
https://user-images.githubusercontent.com/9650859/119721975-2f8fbc00-be42-11eb-98f7-e20799b86372.mp4

[2021-05-27 11:25] mohsinulhaq commented on #135
@fffaria I think the issue is happening because you have put the function calling the hook in the same component that would re-render and re-create the hook. I took the content out into the component so that the hook isn't re-created from the scratch on re-render, and it seems the issue's fixed.

https://codesandbox.io/s/hopeful-blackwell-ztck1?file=/src/index.js

(Also, since you're already passi

[2021-05-27 15:45] fffaria commented on #135
That indeed fixed the issue. Thank you @mohsinulhaq !

[2021-05-27 15:45] #135 closed

[2021-06-07 15:37] Sendrel opened #136 "Keep tooltip open on mousedown/up and etc when trigger='click' and interactive=true"
I used this demo as a template
https://codesandbox.io/s/github/mohsinulhaq/react-popper-tooltip/tree/master/examples/controlled

I added interactive=true to this sandbox.
https://codesandbox.io/s/heuristic-mahavira-2qrvk?file=/src/index.js

Is it possible to keep the tooltip open or is this intended?

Thanks.

[2021-06-07 15:52] Sendrel commented on #136
A workaround is to delete.
[code]
in the css.

[2021-06-07 15:54] Sendrel commented on #136
A workaround is to delete in the css and delete interactive in the options.
[code]

[2021-06-07 15:55] #136 closed

[2021-06-22 13:18] vineethasok opened #137 "Unable to stop propogation in react-tooltip"
I have a nested component with the react-popper-tooltip
When I right click the innermost contextmenu the outermost contextmenu is also opening
I tried e.stopPropogation and e.stopImmediatePropagation in onClick and onContextMenu
But it is still opening the outermost element
Any tips or workaround are appreciated

[2021-06-22 16:24] mohsinulhaq commented on #137
Can you create a codesandbox where I can see the issue in action?

[2021-06-22 17:04] vineethasok commented on #137
https://codesandbox.io/embed/determined-frog-j6s6q
Click on the bottom content
It will open 2 tooltip

[2021-06-22 17:36] mohsinulhaq commented on #137
@vineethasok to get nested tooltips working, you would have to use the null trigger and implement the outside click handling yourself.
If you want to quickly create nested tooltips, you should consider v3 of the library (https://github.com/mohsinulhaq/react-popper-tooltip/blob/v3/README.md). v4 moved to a much simpler model with hooks.

[2021-06-28 03:18] mohsinulhaq commented on #137
Closing this as resolved.
Feel free to re-open if needed.

[2021-06-28 03:18] #137 closed

[2021-08-30 06:51] gunters63 opened #140 "Type check error with Typescript 4.4 exactOptionalPropertyTypes"
**Describe the bug**
Applying getTooltipProps on a div gives an error with Typescript 4.4 when the (recommended) new option [exactOptionalPropertyTypes](https://www.typescriptlang.org/tsconfig#exactOptionalPropertyTypes) is set.

**To Reproduce**
Steps to reproduce the behavior:

- Upgrade Typescript to 4.4.
- Add: ` "exactOptionalPropertyTypes": true,` to tsconfig.json
- Style a `div` with ` {...

[2021-09-15 13:50] hednowley opened #141 "`getTriggerRef` invoking with null"
**Describe the bug**
`getTriggerRef` in v3.1.1 is called with `null` rather than the real DOM element.

**To Reproduce**

Click the trigger in this sandbox and see the `null`s logged to the console:
https://codesandbox.io/s/react-popper-tooltip-example-forked-f7ixp?file=/src/Example.js

Here is a copy of the same sandbox working on v2 for comparison:
https://codesandbox.io/s/react-popper-tooltip-e

[2021-09-17 16:56] mohsinulhaq commented on #141
If you see the code, `getTriggerRef` is being directly passed to the `Reference` component of `react-popper`. The difference between v2 and v3 was that `react-popper` was upgraded from v1 to v2. You can raise this issue with them to understand why on v1, `getTriggerRef` was called only once, but on v2 it's called once with the correct value and then with `null` on every subsequent re-render.

[2021-09-17 16:56] #141 closed

[2021-10-07 19:00] distinctdan commented on #130
To add onto this, I can't add husky either because husky requires the package.json to be at the root of the project with the .git folder, which isn't an option for the project I'm on.

Unfortunately, this makes this library impossible to use for me.

[2021-11-01 23:34] tofful opened #143 "react-popper-tooltip has no exported member "usePopperTooltip""
**Describe the bug**
react-popper-tooltip has no exported member "usePopperTooltip"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.npmjs.com/package/react-popper-tooltip'
2. Copy installation method `npm i react-popper-tooltip`
3. Install it on your project with a React app CRA - react-dom@16.14.0 + Typscript
4. See error

**Expected behavior**
Being able to import and us

[2021-11-04 05:40] tofful commented on #143
npm was installing the wrong version when running `npm i react-popper-tooltip`. I had to manually enter version 4.x when running the npm command.

[2021-11-04 05:40] #143 closed

[2021-11-04 20:00] JuanJo4 opened #144 "Typescript error when using `getTooltipProps` in a div"
**Describe the bug**
Typescript error when using `getTooltipProps` in a div.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the returned value of `getTooltipProps` and use it in a div.
2. Then you will TS error.

Typesctipt: 4.4.3
reaact: 16.9.0
@types/react: 16.14.15
csstype: 3.0.9

**Expected behavior**
No Typescript errors.

**Screenshots**
![Screen Shot 2021-11-04 at 2 56 26 PM](htt

[2021-11-04 20:01] JuanJo4 commented on #140
i'm facing a similar issue, see #144 .

were you be able to know what was happening?

[2021-11-05 02:02] gunters63 commented on #140
I had to disable the Typescript error :) Hopefully the author looks into it.

[code]

[2021-11-23 15:30] smartPangelous opened #145 "don't close on losing hover"
I am trying to change this official example to suits my project's needs :
(persist-once-mounted)
https://codesandbox.io/s/github/mohsinulhaq/react-popper-tooltip/tree/master/examples/persist-once-mounted?file=/src/index.js

On the above example the popper keeps open while the box is on hover and when losing hover it closes . How can I convert this example's behavior somehow that when user moves th

[2021-11-23 18:47] denisborovikov commented on #145
It looks like a bug in our code. I'll look into this later.

[2021-11-23 18:54] denisborovikov commented on #145
I think as a workaround you can remove `interactive: true` from the hook's arguments, copy our default CSS file (if you use it), and remove

[code]

[2021-11-24 07:35] smartPangelous commented on #145
This just solved the problem. thanks

[2021-12-30 12:06] equinusocio opened #146 "Handling focus outside"
**Is your feature request related to a problem? Please describe.**
Currently  if 'focus' is not used as event trigger, `closeOnOutsideClick` is considered only on mouse click (is correct considering the name) but we need a way to close the tooltip also when the focus on the trigger is lost. For example if I have two consecutive triggers and make them accessibile, i would like to close the tooltip

[2021-12-30 12:24] equinusocio opened #147 "Focus + interactive"
**Describe the bug**
If `trigger: ['focus']` and `interactive: true` the tooltip should not close if clicked

**To Reproduce**
Steps to reproduce the behavior:
1. Set `trigger: ['focus']` and `interactive: true`
2. Click on the opened tooltip or on any interactive element inside it
4. The tooltip is closed

**Expected behavior**
Tooltip element should stay open if interactive is `true` and trigger

[2022-01-12 18:11] adi518 commented on #131
I don't see why it can be implemented to work out of the box when the state is controlled.

[2022-01-12 19:16] denisborovikov commented on #131
This is by definition of the controlled component. At every moment the external state and the actual state of the tooltip have to match. If we use `delayShow`/`delayHide` with an external state, this won't be true.

[2022-01-13 08:12] adi518 commented on #131
I see what you mean. Cool. 👍

[2022-01-13 08:17] denisborovikov commented on #131
Will do.

[2022-04-19 08:07] SaalkT commented on #145
Hi, i dont use the default css file.
But this problem still occurs, How to fix this?
A working 'interactive' flag would be nice :)

[2022-04-22 07:38] moroshko opened #151 "Horizontal scrollbar appears, tooltip is cropped"
**Describe the bug**
Think of a menu that has items in it. One of the items is disabled and has a tooltip using `react-popper-tooltip`.
The menu is positioned absolutely. (and, this is something I cannot change since it's coming from a 3rd party library `@szhsin/react-menu`)

The undesired effect that occurs is that a horizontal scrollbar appears and the tooltip appears to be cropped.

![react-pop

[2022-04-22 14:34] denisborovikov commented on #151
To resolve this issue you have to move the tooltip outside of the parent container. See our demo section - Using with react portal. [Source](https://github.com/mohsinulhaq/react-popper-tooltip/blob/master/examples/portal/src/index.js).

[2022-04-23 04:02] moroshko commented on #151
Perfect, thanks a lot!

[2022-04-23 04:02] #151 closed

[2022-05-05 10:02] hendriklammers commented on #144
I'm facing this exact same issue right now. Initially I thought it might be due to my implementation or incorrect usage of this library, however when trying to convert the basic example provided here in the docs I get the exact same error.

[2022-05-26 10:25] tomfridental1 opened #153 "React testing library hover event not triggered when trigger text if wrapper with additional element"
**Describe the bug**
While using the examples from this package test working fine, using <button ref={setTriggerRef}>text</button>
When testing the same code, but adding a span (or any other element) around the text (<button ref={setTriggerRef}><span>text</span></button>) the hover event isn't working. (logging the visible state stays false)

**To Reproduce**
Steps to reproduce the behavior:
1. Us

[2022-06-05 19:07] mohsinulhaq commented on #144
Hi, could you please check if this same happens with `v4.4.0`?

[2022-06-05 19:08] mohsinulhaq commented on #140
Hi, could you please check if this same happens with `v4.4.0`?

[2022-06-27 11:13] mohsinulhaq commented on #145
This is now fixed in `v4.4.2`

[2022-06-27 11:13] #145 closed

[2022-06-28 15:51] SaraRavasio opened #157 "Is not possible to pass a strategy"
**Describe the bug**
I have a case where my tooltip is in a div that has overflow and is very small, and my tooltip is not visible.

https://user-images.githubusercontent.com/33936661/176223905-afa0db08-edc2-4cfe-bf3b-db21dbb92b44.mov

I already leveraged the property `strategy = 'fixed'` when using the hook `usePopper` and in the [documentation for tooltip](https://www.npmjs.com/package/react-pop

[2022-06-28 16:27] mohsinulhaq commented on #157
https://github.com/mohsinulhaq/react-popper-tooltip/blob/master/src/usePopperTooltip.ts#L34
popper.js options are to be passed as the second argument to the hook.
Could you please try that?

[2022-06-29 08:32] SaraRavasio commented on #157
ah interesting! i have to say, from the documentation it wasn't very clear, because i can pass `placement` and `offset` in the `config` and therefore it was a bit confusing because from the docs they should be passed in the same way.

also, if I check the type `PopperOptions` i don't see `strategy` as an option.

[code]

but this works indeed, thanks! 😄

[2022-06-29 08:32] #157 closed

[2022-06-29 08:40] mohsinulhaq commented on #157
Glad it worked! We kept placement and modifiers there in the first arg for convenience as they are very often used. Rest needs to go in the second arg.

[2022-10-05 09:06] gunters63 commented on #140
@mohsinulhaq: Sorry only saw this now :)
Yes, the error went away. I am using  4.4.2 now.

[2022-10-05 10:02] mohsinulhaq commented on #140
@gunters63 great, thanks!

[2022-10-05 10:02] #140 closed

[2022-10-10 11:43] nikgraf opened #159 "floating-ui version of the lib"
**Is your feature request related to a problem? Please describe.**

Floating UI is the successor of react-popper and react-popper is only in maintenance mode.

**Describe the solution you'd like**

Have you considered creating a floating-ui version of the lib? I guess it makes sense a separate project then.
If you set it up I also can contribute some upgrade work.

**Describe alternatives you've c

[2022-10-11 06:33] mohsinulhaq commented on #159
@nikgraf Pretty busy with work these days to get to the migration at this moment. Feel free to raise a PR in case you're interested in contributing :)

[2022-10-11 06:35] mohsinulhaq commented on #144
Closing as per https://github.com/mohsinulhaq/react-popper-tooltip/issues/140#issuecomment-1268159587

[2022-10-11 06:35] #144 closed

[2022-10-26 19:22] choucry13 commented on #153
Hi @tomfridental1 , any update with a possibility to use useEvent.hover from @testing-library/user-event ?
(and thank again for your answer with fireEvent ^^)